@charset "UTF-8";

* { 
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #648d9c, #5f85f7);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.476);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #D9B29C;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.477);
}

h2{
    color: #BF8D7A;

}

p{
    text-align:justify;
}

